@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Bold.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Gothic A1';
    src: url(../font/GothicA1-Regular.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Gothic A1';
    src: url(../font/GothicA1-Bold.ttf);
font-weight: 400;
}
@font-face {
    font-family: 'Pacifico';
    src: url(../font/Pacifico-Regular.ttf);
font-weight: 700;
}